{% extends 'baseback.html.twig' %}
{% block body %}



    <!-- Inclure Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <section id="main-content" class="open">
        <section class="wrapper main-wrapper" style=''>
            <div class="col-lg-12">
               <section class="box ">
                   <header class="panel_header">
                   <h1 class="title float-left">Graphique du nombre d'animaux par catégorie</h1>
                   <div class="actions panel_actions float-right">
                       <i class="box_toggle fa fa-chevron-down"></i>
                       <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                       <i class="box_close fa fa-times"></i>
                    </div>
                    </header>
                    <div class="content-body"> 
                      <canvas id="animalChart" width="800" height="600"></canvas>
                    </div>
                </section>
            </div>
        </section>
    </section>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var data = {{ data | json_encode | raw }};
        
        var ctx = document.getElementById('animalChart').getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                    label: data.datasets[0].label,
                    backgroundColor: data.datasets[0].backgroundColor,
                    borderColor: data.datasets[0].borderColor,
                    borderWidth: data.datasets[0].borderWidth,
                    data: data.datasets[0].data,
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>

{% endblock %}