{% extends 'base.html.twig' %}

{% block title %}Payment Failure{% endblock %}

{% block body %}
    <h2>Payment Failed</h2>
    <p>Sorry, there was an issue processing your payment. Please try again.</p>
{% endblock %}
