{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
<br></br>
<br></br>
<br></br>
    <h2>Payment Successful</h2>
    <p>Thank you for your reservation. You will receive a confirmation email shortly.</p>
{% endblock %}
