{% extends 'base.html.twig' %}

{% block title %}Verify Code{% endblock %}

{% block body %}
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="{{ asset('img/mainimg.png') }}">
                <div class="signup-form">
                    <h2>Verify Code</h2>
                    
                    {% if app.session.flashbag.has('error') %}
                        {% set errorMessages = app.session.flashbag.get('error') %}
                        {% if errorMessages is iterable %}
                            {% for errorMessage in errorMessages %}
                                <div class="alert alert-danger">{{ errorMessage }}</div>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger">{{ errorMessages }}</div>
                        {% endif %}
                    {% endif %}
                    
                    <form action="{{ path('app_verify_code_check') }}" method="post">
                        <div class="form-group">
                            <label for="verificationCode">Enter Verification Code:</label>
                            <input type="text" id="verificationCode" name="code" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Verify</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
