{% extends 'baseBack1.html.twig' %}

{% block title %}Edit Products{% endblock %}

{% block body %}
<div class="container-fluid contact bg-light py-5">
 <div class="container py-5">
    <h1>Edit Products</h1>

    {{ include('products_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_products_back_index') }}">back to list</a>

    {{ include('products_back/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
