{% extends 'baseBack1.html.twig' %}


{% block title %}New Product{% endblock %}


{% block body %}
<div class="container-fluid contact bg-light py-5">
 <div class="container py-5">
    <h1>Create new Products</h1>

    {{ include('products_back/_form.html.twig') }}

    <a href="{{ path('app_products_back_index') }}">back to list</a>
    </div>
    </div>
{% endblock %}
